html, body, h1, h2, h3, p, div, ul, li{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: #00264d;
    font-family: "Agency FB", "century";
    padding-bottom: 5px;
    transition: all 0.7s;
    width: 470px;
}

header {
    background: linear-gradient(to top, #1a8cff, #99ccff);
}


.header {
    text-align: left;
    padding-left: 10px;
    transition: all 0.7s;
}

h1:hover {
    color: #0000b3;
    text-shadow: 5px 5px #0000e6;
}

nav {
    height: 45px;
    background-color: #00264d;
}

.packers {
    margin-top: -69px;
    margin-right: 5px;
    float: right;
    border: none;
    box-shadow: none;
}


.nav p {
    color: #1aa3ff;
    font-size: 20px;
    transition: all 0.6s;
}

.nav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 15px;
    position: absolute;
    height: 30px;
    transition: all 0.6s;
}

.nav1 {
    width: 100px;
    background-color: #000033;
    text-align: center;
}

.nav2 {
    width: 100px;
    margin-left: 120px;
    text-align: center;
}

.nav3 {
    width: 100px;
    margin-left: 240px;
    text-align: center;
}

.nav4 {
    width: 100px;
    margin-left: 360px;
    text-align: center;
}

.nav5 {
    width: 100px;
    margin-left: 480px;
    text-align: center;

}

.nav:hover {
    background-color: #1a8cff;
}

.nav p:hover {
    color: #00264d;
}

.wrapNav {
    width: 600px;
    height: 45px;
    margin: 0 auto;
}

main {
    background: linear-gradient(to bottom, #1a8cff, #99ccff);
    margin: none;
    overflow: auto;
}

.myLife {
    width: 300px;
    margin: auto;
}

h2 {
    padding-top: 50px;
    font-size: 45px;
    color: #00264d;
    border-bottom: 2px solid #00264d;
    padding-bottom: 3px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-family: "Brush Script std";
}

p {
    color: #00264d;
}

h3 {
    color: #00264d;
    font-size: 20px;
    font-family: "gulim", "segoe script";
}

ul ul li:nth-child(2) {
    text-align: center;
    padding: 50px;
    border: 1px solid #00264d;
    border-radius: 50%;
}
.subHeading {
    width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    display: block;
    margin: none;
}

img {
    border: 5px solid #00264d;
    box-shadow: 3px 3px 7px #00264d;
    border-radius: 5px;
    display: block;
}

.snowboardingH2 {
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 60px;
}

.snowboarding {
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
}

li {
    color: #00264d;
    font-size: 20px;
    font-family: fangsong;
    margin: none;
}

.liSnow {
    width: 450px;
    float: left;
    margin-top: 115px;
    margin-left: 15px;
}

.snow {
    overflow: auto;
    clear: right;
    width: 1250px;
    margin: auto;
}

.computerProgrammingH2 {
    margin: auto;
    width: 550px;
    margin-top: 160px;
}

.codingIMG {
    float: left;
    margin: 25px 0 25px 15px;
    
}

.liCode {
    width: 450px;
    float: right;
    margin-top: 175px;
    margin-right: 15px;
}

.comp {
    overflow: auto;
    width: 1250px;
    margin: auto;
}

.basketballH2 {
    width: 300px;
    margin: auto;
    margin-top: 160px;
}

.basketballIMG {
    float: right;
    margin: 25px 15px 25px 0px;
}

.basketball {
    overflow: auto;
    width: 1250px;
    margin: auto;
}

.liBasketball {
    width: 400px;
    float: left;
    margin-top: 130px;
    margin-left: 15px;
}

.photography {
    overflow: auto;
    width: 1250px;
    margin: auto;
}

.photographyH2 {
    width: 350px;
    margin: auto;
    margin-top: 160px;
}

.photographyIMG {
    float: left;
    margin: 25px 0px 25px 15px;
}

.liPhotography {
    width: 400px;
    float: right;
    margin-top: 170px;
    margin-right: 13px;
}