html, body, h1, h2, h3, p, div{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;

}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: #00264d;
    font-family: "Agency FB", "century";
    padding-bottom: 5px;
}


.header {
    text-align: left;
    padding-left: 10px;
    background: linear-gradient(to top, #1a8cff, #99ccff);
    transition: all 0.7s;
}

.header:hover {
    color: #0000b3;
    text-shadow: 5px 5px #0000e6;
}

nav {
    height: 45px;
    background-color: #00264d;
}

.packers {
    margin-top: -69px;
    margin-right: 5px;
    float: right;
}


.nav p {
    color: #1a8cff;
    transition: all 0.6s;
}

.nav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 15px;
    position: absolute;
    height: 30px;
    transition: all 0.6s;
}

.nav1 {
    width: 100px;
    text-align: center;
}

.nav2 {
    width: 100px;
    margin-left: 120px;
    text-align: center;
}

.nav3 {
    width: 100px;
    margin-left: 240px;
    text-align: center;
}

.nav4 {
    width: 100px;
    margin-left: 360px;
    text-align: center;
}

.nav5 {
    width: 100px;
    margin-left: 480px;
    text-align: center;

}

.nav:hover {
    background-color: #1a8cff;
    color: #00264d;
}

.nav p:hover {
    color: #00264d;
}

.wrapNav {
    width: 600px;
    height: 45px;
    margin: 0 auto;
}

main {
    background: linear-gradient(to bottom, #1a8cff, #99ccff);
}

.myLife {
    width: 300px;
    margin: auto;
}

h2 {
    padding-top: 50px;
    font-size: 45px;
    color: #00264d;
    border-bottom: 2px solid #00264d;
    padding-bottom: 3px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-family: "Brush Script std";
}

p {
    color: #00264d;
}

h3 {
    color: #00264d;
    font-size: 20px;
    font-family: "gulim", "segoe script";
}

.subHeading {
    width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    display: block;
}

.snowboardingH2 {
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.snowboarding {
    float: right;
    margin-right: 30px;
    display: block;
    border: 5px solid #00264d;
    margin-bottom: 10px;
    box-shadow: 3px 3px 7px #00264d;
    border-radius: 5px;
}

li {
    color: #00264d;
    font-size: 20px;
    font-family: fangsong;
}

.liSnow {
    width: 500px;
    float: left;
    margin-top: 115px;
    text-align: center;
    padding: 50px;
    border: 1px solid #00264d;
    border-radius: 50%;
    margin: 0, auto;
}

.snow {
    overflow: auto;
    clear: right;
}

.computerProgrammingH2 {
    margin: auto;
    width: 550px;
}

.codingIMG {
    float: left;
    display: block;
    margin: 25px 0;
    border: 5px solid #00264d;
    box-shadow: 3px 3px 7px #00264d;
    border-radius: 5px;
    
}

.liCode {
    width: 500px;
    float: right;
    margin-top: 175px;
    text-align: center;
    margin-right: 30px;
    border: 1px solid #00264d;
    border-radius: 50%;
    padding: 50px;
}

.comp {
    overflow: auto;
}