h2 {
    width: 300px;
    margin: auto;
}

li {
    margin: 100px;
}

.left {
    float: left;
    margin-bottom: 100px;
}

.pics {
    overflow: auto;
}

.right {
    float: right;
    margin-bottom: 100px;
}

.nav1, .nav3, .nav4, .nav5 {
    background-color: #00264d;
}

.nav2 {
    background-color: #000033;
}